.swiper-container  {

  // Let's disable pointer-events while panning, this prevents unwanted click events when it's not really a click but pan up.
  &.panning {
    > .swiper-items * {
      pointer-events: none;
    }
  }

  > .swiper-items {
    // display: flex;
    // width: 1000000px;
    // flex-flow: row nowrap;

    // > * {
    //   position: relative;
    //   will-change: transform;
    // }

    * {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

  }

}
