/* This is generic CSS which works also for AbstarctSwiper. All containers with class ".swiper-items" will prevent drag / click errors on touch up */

.swiper-touch-space {

  &.panning {
    .swiper-items * {
        pointer-events: none;
    }
  }

  .swiper-items * {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}

// For SimpleSwiper only
.swiper-container {
  > .swiper-items > * {
    display: none;
  }
}
