#root {
  p {
    font-size: 20px;
  }
}

.swiper {
  position: relative;
  width: 90%;

  cursor: pointer;
  overflow: hidden;
  border: 10px solid cadetblue;
}

.slide {
  height: 40vh;
}

.slide:nth-child(6n) {
  background-color: red;
  height: 41vh;
}

.slide:nth-child(6n+1) {
  background-color: blue;
  height: 42vh;
}

.slide:nth-child(6n+2) {
  background-color: yellow;
  height: 43vh;
}

.slide:nth-child(6n+3) {
  background-color: green;
  height: 44vh;
}

.slide:nth-child(6n+4) {
  background-color: black;
  height: 45vh;
}

.slide:nth-child(6n+5) {
  background-color: lightgrey;
  height: 46vh;
}

.slide:nth-child(6n+6) {
  background-color: pink;
  height: 47vh;
}

.slide:nth-child(6n+7) {
  background-color: magenta;
  height: 48vh;
}

.slide:nth-child(6n+8) {
  background-color: orange;
  height: 49vh;
}

.slide:nth-child(6n+9) {
  background-color: darkgrey;
  height: 50vh;
}

.slide:nth-child(6n+10) {
  background-color: cyan;
  height: 51vh;
}


.left, .right {
  opacity: .5;
  pointer-events: none;
}

.left.active, .right.active {
  opacity: 1;
  pointer-events: all;
 }

.swiper-pager-item {
  width: 10px; height: 10px; border-radius: 50%; border: 1px solid grey;
  cursor: pointer;
}
.swiper-pager-item.active {
  color: red; /* let's show active pager item as red */
  background: red; /* let's show active pager item as red */
}
.pager {
  display: flex; justify-content: space-evenly; width: 50%; margin-bottom: 40px;
  margin-top: 20px;
}

.buttonsContainer {
  button {
    border-radius: 4px;
    font-size: 20px;
    background: seashell;
    border: 1px solid grey;
    margin-right: 10px;
    outline: none;
    &:hover {
      background: darken(seashell, 10);
    }
  }
  margin-bottom: 20px;
}

.ReactSlider {
  &__paramSetter {
    display: flex;
    justify-content: space-between;
    width: 50%;
    input {
      margin-top: 15px;
      height: 30px;
    }
    p {
      display: inline-block;
      margin-right: 40px;
      font-weight: 600;
      font-size: 22px;
    }
  }
}
.swiperArea {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}
.SwiperWithExternalTouchSpace {
  .swiper {
    cursor: auto;
  }
}
.ReactTouchSwiper {
  width: 60vw;
  height: 270px;
  position: relative;

  .container {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid lightgrey;
  }

  .slideImageWrapper {
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
    width: 100%;
  }

  .slideImage {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0; left: 0;
    height: 100%;
  }
}
.ReactSlider__example {
  width: 60vw;
  height: 100%;
  overflow: hidden;
}