#root p {
    font-size: 20px;
}

.swiper {
  position: relative;
  width: 800px;

  cursor: pointer;
  overflow: hidden;
  border: 1px solid black;

  //touch-action: pan-y !important;
  user-select: none;
}

.slide {
  height: 40vh;
}

.slide:nth-child(6n) {
  background-color: red;
  height: 41vh;
}

.slide:nth-child(6n+1) {
  background-color: blue;
  height: 42vh;
}

.slide:nth-child(6n+2) {
  background-color: yellow;
  height: 43vh;
}

.slide:nth-child(6n+3) {
  background-color: green;
  height: 44vh;
}

.slide:nth-child(6n+4) {
  background-color: black;
  height: 45vh;
}

.slide:nth-child(6n+5) {
  background-color: lightgrey;
  height: 46vh;
}

.slide:nth-child(6n+6) {
  background-color: pink;
  height: 47vh;
}

.slide:nth-child(6n+7) {
  background-color: magenta;
  height: 48vh;
}

.slide:nth-child(6n+8) {
  background-color: orange;
  height: 49vh;
}

.slide:nth-child(6n+9) {
  background-color: darkgrey;
  height: 50vh;
}

.slide:nth-child(6n+10) {
  background-color: cyan;
  height: 51vh;
}

.left, .right {
  opacity: .5;
  pointer-events: none;
}

.left.active, .right.active {
  opacity: 1;
  pointer-events: all;
}
